<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0">
                <form class="form-register" #f="ngForm"(ngSubmit)="f.form.valid&&ngSubmit()" novalidate>
                    <mat-error class="alert alert-primary">{{status}}
                        <button *ngIf="checkSuccess" mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-success">
                        <mat-icon color="accent" matPrefix>trending_flat</mat-icon>Please Login
                        </button>
                    </mat-error>

                    <!-- NAME -->
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input name="name" matInput placeholder="Placeholder" [(ngModel)]="form.name" #name="ngModel"
                        required minlength="3" maxlength="50">
                        <mat-icon color="accent" matSuffix>accessible</mat-icon>
                        <mat-error *ngIf="name.hasError('required')">The name is required</mat-error>
                        <mat-error *ngIf="name.hasError('minlength')">The name must more than 2 character</mat-error>
                    </mat-form-field><br>
                    <!-- USERNAME -->
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input name="username" matInput placeholder="Placeholder" [(ngModel)]="form.username" #username="ngModel"
                               required minlength="3" maxlength="50">
                        <mat-icon color="accent" matSuffix>account_circle</mat-icon>
                        <mat-error *ngIf="username.hasError('required')">The username is required</mat-error>
                        <mat-error *ngIf="username.hasError('minlength')">The username must more than 2 character</mat-error>
                    </mat-form-field><br>
                    <!-- EMAIL -->
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input name="email" matInput placeholder="Placeholder" [(ngModel)]="form.email" [formControl]="emailFormControl"
                               required maxlength="50">
                        <mat-icon color="accent" matSuffix>email</mat-icon>
                        <mat-error *ngIf="emailFormControl.hasError('required')">The email is required</mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('email')">The email is invalid! Ex: chinhcomhut@gmail.com</mat-error>
                    </mat-form-field><br>
                    <!-- Password -->
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label>Enter your password</mat-label>
                        <input name="password" matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="form.password" #password="ngModel" minlength="6" maxlength="100" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon color="accent">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="password.hasError('required')">The password is required</mat-error>
                        <mat-error *ngIf="password.hasError('minlength')">The password must than 5 character</mat-error>
                    </mat-form-field><br>
                    <button mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-primary"><mat-icon color="accent" matPrefix>queue</mat-icon>Register

                    </button>

                </form>
            </mat-card>
        </div>
    </div>
</div>
